.hovered, .invisible {
  position: absolute;
  color: black;
  font-size: 30px;
  white-space: nowrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1.5px solid black;
  border-radius: 25px;
  font-weight: 700;
  padding: 8px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  user-select: none; 
  cursor: pointer;

}

.hovered {
  opacity: 1
}

.invisible {
  opacity: 0
}
