.wrapper {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 80px;
}

.bigHeader {
  font-size: 48px;
  font-weight: 700;
  line-height: 57px;
  min-width: 45%;
  margin: 0;
}

.text {
  font-size: 30px;
  line-height: 39px;
  min-width: 45%;
  margin: 0;

  > :first-child {
    margin-top: 0px;
  }
}

.smallHeader {
  margin-top: 50px;
  display: flex;
  gap: 20px;

  > div {
    height: 30px;
    width: 30px;

    > img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  > h4 {
    font-size: 26px;
    line-height: 32px;
    font-weight: 700;
  }
}

.paragraph {
  font-size: 20px;
  line-height: 26px;
  margin-top: 15px;
}
