@font-face {
  font-family: 'Whyte';
  src: local('Whyte'), url('/fonts/Whyte-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Whyte';
  src: local('Whyte'), url('/fonts/Whyte-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Whyte';
  src: local('Whyte'), url('/fonts/Whyte-Bold.ttf') format('truetype');
  font-weight: 700;
}

:root {
  --black: #000;
  --white: #fff;
  --red: #f24e1e;
  --green: #0fa958;
  --yellow: #ffc700;
  --purple: #c7b9ff;
  --swiper-navigation-color: black;
}

html,
body {
  color: #111;
  padding: 0;
  margin: 0;
  font-family: 'Whyte';
  font-size: 12px;
  font-display: optional;
  overflow-x: hidden;
}

body {
  position: relative;
}

* {
  line-height: 1.2;
}

a {
  all: unset;
}

button {
  all: unset;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
