@font-face {
  font-family: 'Whyte';
  src: local('Whyte'), url('/fonts/Whyte-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Whyte';
  src: local('Whyte'), url('/fonts/Whyte-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Whyte';
  src: local('Whyte'), url('/fonts/Whyte-Bold.ttf') format('truetype');
  font-weight: 700;
}
