.wrapper {
  width: 55%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  @media (max-width: 850px) {
    width: 100%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-right: 80px;
  padding-left: 20px;
  width: 550px;
  max-width: 80%;
  font-size: 16px;
  line-height: normal;
  align-self: flex-end;

  > * {
    flex-shrink: 2;
  }

  @media (max-width: 850px) {
    padding-right: 20px;
    padding-left: 40px;
    max-width: 100%;
    width: 850px;
  }
}

.header {
  font-size: 24px;
  width: 100%;
  margin-bottom: 20px;
}

.bottom20 {
  margin-bottom: 20px;
}

.bottom10 {
  margin-bottom: 10px;
}

.inputWrapper {
  position: relative;
}

.nameWrapper {
  @media (max-width: 850px) {
    width: 50%;
  }
}

.input {
  font-size: 16px;
  width: 100%;
  max-width: 450px;
  height: 50px;
  border-radius: 5px;
  padding: 10px;
  border: 2px solid rgba(128, 128, 128, 0.37);

  @media (max-width: 850px) {
    max-width: 850px;
  }

  &:focus {
    outline: none;
    border-width: 2px;
    border-color: green;
  }
}

.countrySelect,
.stateSelect {
  cursor: pointer;
  &:focus {
    border-width: 2px;
  }
}

.name {
  display: flex;
  gap: 10px;
  width: 100%;
}

.firstNameInput {
  max-width: 220px;
  @media (max-width: 850px) {
    max-width: 420px;
  }
}

.lastNameInput {
  max-width: 220px;
  @media (max-width: 850px) {
    max-width: 420px;
  }
}

.placeOrderWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.return {
  color: green;
  cursor: pointer;
}

.placeOrderButton {
  background-color: black;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px 30px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    background-color: rgba(0, 0, 0, 0.507);
  }
  &:disabled {
    background-color: rgba(0, 0, 0, 0.507);
    cursor: not-allowed;
  }
}

.error {
  position: absolute;
  bottom: -12px;
  font-size: 12px;
  color: red;
}
