.wrapper {
  max-width: 1200px;
  min-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: 850px) {
    min-width: 300px;
  }
}

.content {
  max-width: 1200px;
  min-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;

  @media (max-width: 850px) {
    min-width: 300px;
  }
}

.titlePriceContainer {
  display: flex;
  justify-content: space-between;
  max-width: 250px;
}

.link {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title {
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
}

.price {
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
}
