.footer {
  position: relative;
  margin-top: 30px;
  min-height: 425px;
  background-color: var(--green);
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
}

.wrapper {
  max-width: 1100px;
  padding-top: 50px;
  margin: 0 auto;
  display: flex;
  gap: 100px;

  @media (max-width: 850px) {
    display: flex;
    flex-direction: column;
  }
}

.redCircle {
  height: 280px;
  width: 250px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--red);
  font-size: 36px;
  line-height: 36px;
  font-weight: 500;
  flex-shrink: 0;

  @media (max-width: 850px) {
    height: 332px;
    width: 300px;
    align-self: center;
  }

  > :first-child {
    transform: rotate(90deg);
    margin-bottom: 20px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 700px;
  flex-shrink: 2;

  @media (max-width: 850px) {
    flex-basis: 0;
    flex-shrink: 2;
  }
}

.infoUpWrapper {
  display: flex;
  justify-content: space-between;

  @media (max-width: 850px) {
    margin-bottom: 30px;
  }
}

.slogan {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  max-width: 270px;

  @media (max-width: 850px) {
    font-size: 24px;
  }
}

.contactLinks {
  font-size: 18px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 16px;
  font-weight: 500;
  min-height: 100px;

  @media (max-width: 850px) {
    gap: 10px;
    margin-right: 10px;

    > a {
      min-height: 32px;
    }
  }

  > a > div {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: all 0.2s;

    &:hover {
      text-decoration-color: black;
    }
  }
}

.socialLinks {
  display: flex;
  font-size: 30px;
  gap: 30px;
  flex-wrap: wrap;

  @media (max-width: 850px) {
    margin-bottom: 50px;
    font-size: 18px;
    gap: 10px;
  }

  > a > div {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: all 0.2s;

    &:hover {
      text-decoration-color: black;
    }
  }
}
