.header {
  position: relative;
  width: 100%;
  background-color: var(--yellow);
}

.white {
  background-color: white;
}

.mobileMenu {
  position: absolute;
  background-color: white;
  height: calc(100vh - 70px);
  width: 100%;
  top: 70px;
  z-index: 100;
}

.wrapper {
  margin: 0 auto;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger {
  width: 48px;
  min-width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  border-radius: 50%;
  border: 2px solid black;
  cursor: pointer;

  > div {
    min-width: 48px;
  }
}

.pointer {
  width: 38px;
  min-width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  > img {
    padding: 5px;
    height: 38px;
    width: auto;
  }
}

.cart {
  margin-right: 10px;
  height: 35px;
  width: 50px;
  font-size: 18px;
  line-height: 35px;

  border: 1.5px solid black;
  border-radius: 25px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;
}

.link {
  line-height: 18px;
  // fixing issue with mobile view - div content doesn't center
  @media (max-width: 850px) {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    align-self: center;
  }
}

.linksWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-left: 10px;
  gap: 30px;
  font-weight: 700;
}

.bigLink {
  font-size: 36px;
}

.smallLinks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.smallLink {
  font-size: 24px;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  height: 30px;
  line-height: 30px;

  // fixing issue with mobile view - div content doesn't center
  @media (max-width: 850px) {
    transform: translateY(3px);
  }
}

.select {
  position: absolute;
  width: 250px;
  top: 100px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 15px;
  background-color: white;
  border: 1.5px solid black;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;

  > option {
    font-size: 18px;
    font-weight: 700;
    background-color: white;
    color: black;
    cursor: pointer;
  }
}
